@import url("https://fonts.googleapis.com/css2?family=Forum&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300&display=swap");

:root {
  --dark-bg: #272727;
  --light-dark-bg: #2f2f2f;
  --white: #ffffff;
  --text-grey: #757575;
  --light-grey: #c2c2c2;
  --accent: #e2b67a;
  --font-size-text: 18px;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Forum", serif;
} */

.html,
.body {
  height: 100%;
}

.body {
  margin: 0;
  font-size: var(--font-size-text);
  font-family: "Mulish", "Roboto", sans-serif;
  font-weight: 300;
  line-height: 24px;
  color: var(--dark-bg);
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.body_active {
  background-color: var(--dark-bg);
}

.body_active .header__logo svg {
  fill: var(--white);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.wrapper__header {
  position: absolute;
  width: 100%;
}

.container {
  max-width: 1115px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__top {
  position: relative;
  z-index: 12;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 50px;
  margin: 40px auto;
}

.header__logo svg {
  fill: var(--dark-bg);
}

.header__right-column {
  display: flex;
  align-items: center;
  column-gap: 40px;
  color: var(--white);
}

.offer {
  position: relative;
  z-index: 1;
  color: var(--dark-bg);
}

.offer::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  min-width: 40%;
  height: 100vh;
  background-color: var(--dark-bg);
}

.offer__inner {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  height: 100vh;
}

.offer__title {
  font-family: "Forum", serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 71px;
  letter-spacing: 0.03em;
  margin: 0;
}

.offer__button {
  display: block;
  position: relative;
  margin-top: 50px;
  margin-left: 128px;
  padding-left: 168px;
  font-style: italic;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  color: var(--dark-bg);
  text-decoration: none;
  transition: color 300ms ease;
  font-size: var(--font-size-text);
}

.offer__button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  height: 1px;
  width: 130px;
  background-color: var(--dark-bg);
}

.offer__button:hover {
  color: var(--accent);
}

.offer__button:active {
  color: var(--accent);
  text-decoration: underline;
}

.offer__button:focus {
  outline: 0 none;
  color: var(--accent);
  text-decoration: underline;
}

.offer__img-wrap {
  position: absolute;
  left: 53%;
}

.basket-icon {
  display: flex;
  align-items: center;
  column-gap: 3px;
  margin-right: 40px;
}

.header__icon svg {
  stroke-width: 2;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: var(--white);
}

.basket__count {
  padding-left: 5px;
  font-size: var(--font-size-text);
}

.header__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--white);
  text-decoration: none;
  transition: color 200ms ease;
}

.header__icon:hover {
  color: var(--accent);
}

.header__icon:active {
  color: var(--accent);
}

.menu {
  display: flex;
  position: relative;
  width: 30px;
  height: 18px;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

.menu__icon {
  position: absolute;
  left: 0;
  top: 8px;
  height: 2px;
  width: 100%;
  border-radius: 2px;
  transition: all 0.2s ease;
  background-color: var(--white);
}

.menu::before,
.menu::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  border-radius: 2px;
  transition: all 0.2s ease;
  background-color: var(--white);
}

.menu::before {
  top: 0;
}

.menu::after {
  bottom: 0;
}

.menu:hover .menu__icon,
.menu:hover::before,
.menu:hover::after {
  background-color: var(--accent);
}

.menu_active::before {
  transform: rotate(45deg);
  top: 8px;
}

.menu_active::after {
  transform: rotate(-45deg);
  bottom: 8px;
}

.menu_active .menu__icon {
  transform: scale(0);
}

.ring-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 10px;
  text-align: right;
  color: var(--white);
}

.ring-info__name {
  font-style: italic;
  font-weight: 200;
  letter-spacing: 0.05em;
  font-size: 16px;
  text-transform: uppercase;
}

.ring-info__composition {
  font-size: 14px;
}

.ring-info__price {
  font-style: italic;
  font-size: 14px;
  color: var(--accent);
}

.offer__ring-info {
  position: absolute;
  right: 0;
  bottom: 0;
  padding-bottom: 60px;
}

.header__bottom {
  position: absolute;
  z-index: -1;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  color: var(--white);
  background-color: var(--dark-bg);
}

.header__bottom_active {
  z-index: 100;
  opacity: 1;
  visibility: visible;
}

.header__info {
  margin-top: 480px;
}

.nav {
  background-color: var(--light-dark-bg);
}

.nav-item_transformation .nav__dropdown {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.nav-item_transformation .nav__link {
  opacity: 1;
  border-color: var(--white);
}

.nav-item_transformation .nav__link_drop:after {
  transform: rotate(180deg) translateY(50%);
}

.nav__menu {
  position: relative;
  display: flex;
  column-gap: 27px;
}

.nav__item {
  list-style-type: none;
}

.nav__link {
  display: block;
  opacity: 0.5;
  font-size: 15px;
  line-height: 75px;
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  transition: border-color, opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.nav__link:hover {
  opacity: 1;
}

.nav__link:active {
  border-color: var(--white);
}

.nav__link:focus {
  outline: 0 none;
  border-color: var(--white);
}

.nav__link_drop {
  position: relative;
  padding-right: 25px;
}

.nav__link_drop:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 13px;
  height: 6px;
  transform: translateY(-50%);
  background-image: url("../images/icons/arrow-sort.svg");
}

.dropdown__title {
  font-style: italic;
  font-weight: 200;
  padding-bottom: 35px;
  font-size: 14px;
  text-transform: uppercase;
}

.nav__dropdown {
  position: absolute;
  left: 15px;
  top: 100%;
  opacity: 0;
  visibility: hidden;
}

.dropdown {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 60px;
  column-gap: 60px;
  padding: 70px 0 70px 0;
  border-bottom: 1px solid var(--light-dark-bg);
}

.dropdown__item {
  flex-grow: 1;
  min-width: 200px;
  list-style: none;
}

.submenu {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding-left: 0;
}

.submenu__item {
  list-style-type: none;
}

.submenu__button {
  font-style: italic;
  font-weight: 200;
  font-size: 14px;
  text-decoration: none;
  transition: color 300ms ease;
  color: var(--accent);
}

.submenu__button:hover {
  color: var(--text-grey);
}

.submenu__button:active {
  text-decoration: underline;
}

.submenu__button:focus {
  outline: 0 none;
  text-decoration: underline;
}

.submenu__link {
  color: var(--white);
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: color, border 0.3s ease;
}

.submenu__link:active {
  border-color: var(--white);
}

.submenu__link:hover {
  color: var(--text-grey);
}

.submenu__link:focus {
  outline: none;
  border-color: var(--white);
}

.header__info {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 85px;
}

.info__new-collection {
  flex-basis: 750px;
  padding-bottom: 24%;
  width: 100%;
  border-radius: 2px;
}

.info__new-collection::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(39, 39, 39, 0.5);
}

.info-contact__title {
  font-style: italic;
  font-weight: 200;
  font-size: 14px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.info__feedback {
  margin-bottom: 50px;
}

.info__email {
  display: flex;
  flex-direction: column;
}

.feedback {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.feedback__phone {
  transition: color 300ms ease;
  text-decoration: none;
  color: var(--light-grey);
}

.feedback__phone:hover {
  color: var(--text-grey);
}

.feedback__phone:active {
  text-decoration: underline;
}

.feedback__social {
  display: flex;
  column-gap: 20px;
}

.feedback__link {
  display: block;
  color: inherit;
  text-decoration: none;
  transition: color 300ms ease;
}

.feedback__link:hover {
  color: var(--light-grey);
}

.feedback__link:active {
  color: var(--accent);
}

.feedback__link:focus {
  outline: 0 none;
  color: var(--accent);
}

.email__input {
  font-size: 16px;
}

.email__input-wrapper {
  position: relative;
  height: 40px;
  line-height: 40px;
  min-width: 280px;
}

.email__input {
  box-sizing: border-box;
  padding: 5px;
  width: 100%;
  height: inherit;
  padding-right: 40px;
  border: 1px solid transparent;
  border-bottom: 1px solid var(--white);
  background: none;
  color: var(--light-grey);
}

.email__input:focus {
  outline: 0 none;
  border-color: var(--white);
}

.email__button {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 10px;
  height: inherit;
  border: 1px solid transparent;
  color: var(--white);
  transition: background-color 300ms ease;
  background: none;
}

.email__button:hover {
  color: var(--dark-bg);
  background-color: var(--white);
}

.email__button:active {
  background-color: var(--accent);
}

@media (max-width: 993px) {
  :root {
    --font-size-text: 16px;
  }

  .offer__title {
    font-size: 45px;
  }

  .offer::after {
    min-width: 50%;
  }

  .offer__button {
    margin-left: 0;
    padding-left: 130px;
    margin-top: 20px;
  }

  .offer__button::before {
    width: 100px;
  }

  .offer__ring-info {
    padding-bottom: 40px;
  }

  .ring-info {
    row-gap: 0;
  }

  .header__right-column {
    column-gap: 30px;
  }

  .nav__menu {
    column-gap: 20px;
    flex-direction: column;
  }

  .nav {
    background-color: transparent;
  }

  .nav__link {
    padding-right: 0;
    font-size: 14px;
    line-height: 50px;
    width: 100%;
    border-bottom: 1px solid var(--light-dark-bg);
  }

  .dropdown {
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 40px 0;
    background-color: var(--dark-bg);
  }

  .dropdown__title {
    font-size: 12px;
  }

  .submenu__link {
    font-size: 16px;
  }

  .dropdown__item {
    max-width: 150px;
  }

  .nav-item_transformation .nav__dropdown {
    position: static;
  }

  .offer__inner {
    justify-content: space-around;
  }

  .offer__img-wrap {
    position: static;
    transform: translate(0);
  }
}

@media (max-width: 768px) {
  .logo svg {
    width: 150px;
    height: 31px;
  }

  .heart-icon svg {
    width: 17px;
    height: auto;
  }

  .basket-icon svg {
    width: 12px;
    height: auto;
  }

  .login-icon svg {
    width: 11px;
    height: auto;
  }

  .basket-icon {
    margin-right: 30px;
  }

  .header__right-column {
    column-gap: 20px;
  }

  .menu {
    width: 25px;
    height: 16px;
  }

  .menu__icon {
    top: 7px;
  }

  .menu_active::before {
    top: 6px;
  }

  .offer__title {
    font-size: 40px;
  }

  .offer__ring-info {
    padding-bottom: 20px;
  }

  .offer__button {
    margin-top: 10px;
  }
}

@media (max-width: 600px) {
  .header__top {
    margin-top: 20px;
  }

  .header__right-column {
    column-gap: 20px;
  }

  .offer__button {
    padding-left: 0;
    padding-bottom: 10px;
  }

  .offer__button::before {
    top: auto;
    bottom: 0;
    width: 100%;
  }

  .offer__title {
    font-size: 38px;
    line-height: 42px;
  }

  .basket-icon {
    margin-right: 20px;
  }

  .header__right-column {
    column-gap: 15px;
  }

  .ring-info__name {
    font-size: 13px;
  }

  .ring-info__composition {
    font-size: 12px;
  }

  .ring-info__price {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  :root {
    --font-size-text: 14px;
  }

  .logo svg {
    fill: var(--white);
  }

  .offer__text {
    text-align: center;
  }

  .offer__title {
    font-size: 30px;
    line-height: 36px;
  }

  .offer__inner {
    row-gap: 40px;
    flex-direction: column-reverse;
    justify-content: center;
    color: var(--white);
  }

  .offer__button::before {
    background-color: var(--white);
  }

  .offer::after {
    width: 100%;
  }

  .offer__button {
    margin-top: 10px;
    color: var(--white);
  }

  .logo svg {
    width: 120px;
    height: 25px;
  }

  .basket-icon {
    margin-right: 0;
  }
}
